{% extends 'dashboard/dashboard.html' %}
{% block body %}

    <!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0 font-size-18">Update Category</h4>
			</div>
		</div>
	</div> 
	<!-- end page title -->

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<form name="FromeEditCategory" action="{% url 'category-edit' id=cobj.category_id %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<label for="category_name">Category Name</label>
									<input id="category_name" name="category_name" type="text" value="{{cobj.category_name}}" class="form-control">
								</div>

								<div class="mb-3">
									<label for="category_image">Category Image</label>
									<input type="file" id="category_image" name="category_image"  class="form-control">
								</div>

								<div class="mb-3">
									{% if cobj.IsActive %}
                                    	<input  type="checkbox" id="chk_status" name="chk_status" class="form-check-input" checked>
									{% else %}
										<input  type="checkbox" id="chk_status" name="chk_status" class="form-check-input">
									{% endif %}
									<label for="chk_status">Status</label>
								</div>													
							</div>

							<div class="col-sm-6">
								<div class="mb-3">
									<img src="/media/{{cobj.category_image}}" alt="{{cobj.category_name}}" class="img-fluid rounded img-fluid ">
								</div>
							</div>
						</div>

						<div class="d-flex flex-wrap gap-2">
							<button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
							<a href="/ap/category"><button type="button" class="btn btn-secondary waves-effect waves-light">Cancel</button></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	<!-- end row -->
{% endblock body %}