{% extends 'dashboard/dashboard.html' %}
{% block body %}

    <!-- start page title -->
	{% comment %} <div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0 font-size-18">Add Category</h4>
			</div>
		</div>
	</div>  {% endcomment %}
	<!-- end page title -->

	<!-- start Add Category Form -->
	{% comment %} <div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<form name="fromaddcategory" action="{% url 'category' %}" method="post">
					{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<label for="category_name">Category Name</label>
									<input id="category_name" name="category_name" type="text" class="form-control">
								</div>
								
								<div class="mb-3">
                                    <input  type="checkbox" id="chk_status" name="chk_status" class="form-check-input" checked>
									<label for="chk_status">Status</label>
								</div>													
							</div>
						</div>

						<div class="d-flex flex-wrap gap-2">
							<button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
						</div>
					</form>
				</div>
			</div>
	</div> {% endcomment %}
	<!-- end Add Category Form -->

	<!-- start Category Details View -->
		<div class="row">
			<div class="col-12">
				<div class="page-title-box d-sm-flex align-items-center justify-content-between">
					<h4 class="mb-sm-0 font-size-18">Category Details</h4>
					<div class="page-title-right">
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#ModalFormCategory">Add Category</button>
                    </div>
				</div>
			</div>
		</div>

		<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row mb-2">
								<div class="col-sm-4">
									<div class="search-box me-2 mb-2 d-inline-block">
										<div class="position-relative">
											<input type="text" class="form-control" placeholder="Search...">
											<i class="bx bx-search-alt search-icon"></i>
										</div>
									</div>
								</div>
								<!-- end col-->
							</div>

							<div class="table-responsive">
								<table class="table align-middle table-nowrap table-check table-striped">
									<thead class="table-primary">
										<tr>
											<th class="align-middle">Category ID</th>
											<th class="align-middle">Name</th>
											<th class="align-middle">Image</th>
											<th class="align-middle">Status</th>
											<th class="align-middle">Action</th>
										</tr>
									</thead>
									<tbody>
										{% if page_obj %}
										{% for c in page_obj.object_list %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{c.category_name}}</td>
												<td><img src="/media/{{c.category_image|default_if_none:'#'}}" alt="{{c.category_name}}" style="height:50px" ></td>
												<td>	
													<span class="badge badge-pill badge-soft-success font-size-12">{{c.IsActive}}</span>
												</td>
												<td>
													<div class="d-flex gap-3">
														<a href="{% url 'category-edit' id=c.category_id %}" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
														<a href="{% url 'category-delete' id=c.category_id %}" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
													</div>
												</td>
											</tr>
										{% endfor %}
										{% else %}
											<tr>
                                                <td colspan="4" style="text-align:center;">No Data Available...</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>

							<!-- start Pagination-->
								<ul class="pagination justify-content-end pagination-sm">
									{% if page_obj.has_previous %}
										<li class="page-item"><a href="?page=1"  class="page-link">First</a></li>
										<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
									{% endif %}

									<li class="page-item"><span class="page-link current">
										Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
									</span></li>

									{% if page_obj.has_next %}
										<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
										<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a></li>
									{% endif %}
								</ul>
							<!-- end Pagination-->
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- end Category Details View  -->

	<!-- Modal : Add category -->
        <div class="modal fade" id="ModalFormCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="fromaddcategory" action="{% url 'category' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                        </div>

                        <div class="modal-body">
							<div class="mb-3">
								<label for="category_name">Category Name</label>
								<input id="category_name" name="category_name" type="text" class="form-control">
							</div>

							<div class="mb-3">
								<label for="category_image">Category Image</label>
								<input type="file" id="category_image" name="category_image"  class="form-control">
							</div>

							<div class="mb-3">
								<input  type="checkbox" id="chk_status" name="chk_status" class="form-check-input" checked>
								<label for="chk_status">Status</label>
							</div>					
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock body %}