{% extends 'dashboard/dashboard.html' %}
{% block body %}

    <!-- start page title -->
	{% comment %} <div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0 font-size-18">Add Category</h4>
			</div>
		</div>
	</div>  {% endcomment %}
	<!-- end page title -->

	<!-- start Add Category Form -->
	{% comment %} <div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<form name="fromaddcategory" action="{% url 'category' %}" method="post">
					{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<label for="category_name">Category Name</label>
									<input id="category_name" name="category_name" type="text" class="form-control">
								</div>
								
								<div class="mb-3">
                                    <input  type="checkbox" id="chk_status" name="chk_status" class="form-check-input" checked>
									<label for="chk_status">Status</label>
								</div>													
							</div>
						</div>

						<div class="d-flex flex-wrap gap-2">
							<button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
						</div>
					</form>
				</div>
			</div>
	</div> {% endcomment %}
	<!-- end Add Category Form -->

	<!-- start Category Details View -->
		<div class="row">
			<div class="col-12">
				<div class="page-title-box d-sm-flex align-items-center justify-content-between">
					<h4 class="mb-sm-0 font-size-18">Slider Details</h4>
					<div class="page-title-right">
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#ModalFormAddSlider">Add Slider</button>
                    </div>
				</div>
			</div>
		</div>

		<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row mb-2">
								<div class="col-sm-4">
									<div class="search-box me-2 mb-2 d-inline-block">
										<div class="position-relative">
											<input type="text" class="form-control" placeholder="Search...">
											<i class="bx bx-search-alt search-icon"></i>
										</div>
									</div>
								</div>
								<!-- end col-->
							</div>

							<div class="table-responsive">
								<table class="table align-middle table-nowrap table-check table-striped ">
									<thead class="table-primary">
										<tr>
											<th class="align-middle">ID</th>
											<th class="align-middle">Name</th>
                                            <th class="align-middle">Image</th>
											<th class="align-middle">Title</th>
											<th class="align-middle">Description</th>
											<th class="align-middle">Status</th>
											<th class="align-middle">Action</th>
										</tr>
									</thead>
									<tbody class="table-hover">
										{% if page_obj %}
										{% for s in page_obj.object_list %}
											<tr>
												<td>{{s.slider_id}}</td>
												<td>{{s.slider_name}}</td>
                                                <td><picture>
                                                        <source srcset="/media/{{s.slider_image}}" media="(max-width: 100px, max-height: 50px)">
                                                        <img src="/media/{{s.slider_image|default_if_none:'#'}}"  style="max-width: 100px; max-height: 50px;"  alt="{{s.slider_name}}">
                                                    </picture>
												</td>
												<td>{{s.title}}</td>
												<td>{{s.desc|slice:20}}...</td>
												<td>	 
													<span class="badge badge-pill badge-soft-success font-size-12">{{s.IsActive}}</span>
												</td>
												<td>
													<div class="d-flex gap-3">
														<a href="{% url 'slider-edit' id=s.slider_id %}" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
														<a href="{% url 'slider-delete' id=s.slider_id %}" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
													</div>
												</td>
											</tr>
										{% endfor %}
										{% else %}
											<tr>
                                                <td colspan="5" style="text-align:center;">No Data Available...</td>
											</tr>
										{% endif %}	
									</tbody>
								</table>
							</div>

							<!-- start Pagination-->
								<ul class="pagination justify-content-end pagination-sm">
									{% if page_obj.has_previous %}
										<li class="page-item"><a href="?page=1"  class="page-link">First</a></li>
										<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
									{% endif %}

									<li class="page-item"><span class="page-link current">
										Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
									</span></li>

									{% if page_obj.has_next %}
										<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
										<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a></li>
									{% endif %}
								</ul>
							<!-- end Pagination-->
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- end Category Details View  -->

	<!-- Modal : Add category -->
        <div class="modal fade" id="ModalFormAddSlider" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form name="fromaddslider" action="{% url 'slider' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Slider</h5>
                        </div>

                        <div class="modal-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-3">
										<label for="slider_name">Name</label>
										<input type="text" id="slider_name" name="slider_name"  class="form-control">
									</div>
									<div class="mb-3">
										<label for="slider_image">Image</label>
										<input type="file" id="slider_image" name="slider_image"  class="form-control">
									</div>
									<div class="mb-3">
										<input  type="checkbox" id="chk_IsActive" name="chk_IsActive" class="form-check-input" checked>
										<label for="chk_IsActive">Status</label>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="mb-3">
										<label for="slider_title">Title</label>
										<input type="text" id="slider_title" name="slider_title"  class="form-control">
									</div>
									<div class="mb-3">
										<label for="slider_description">Description</label>
										<textarea class="form-control" id="slider_description" name="slider_description" rows="5"></textarea>
									</div>
								</div>
							</div>							
										
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save </button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock body %}