<footer>
    <div class="middle-footer">
        <div class="container">
            <div class="row">
            <aside id="column-left1" class="col-sm-3 col-md-3 col-xs-12">
                <div>
                    <div class="storeinfo">
                        <h5><span>Contact us</span>
                        <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#contact" aria-expanded="true"></button>
                        </h5>
                        <div id="contact" class="footer-collapse footcontact collapse out" aria-expanded="true" style="">
                        <ul class="list-unstyled f-left">
                            <li>
                                <svg width="20px" height="20px">
                                    <use xlink:href="#add"></use>
                                </svg>
                                1093  Marigold Lane,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coral Way, Miami,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Florida, 33169
                            </li>
                            <li>
                                <svg width="20px" height="20px">
                                    <use xlink:href="#phone"></use>
                                </svg>
                                610-403-403
                            </li>
                            <li>
                                <svg width="22px" height="22px">
                                    <use xlink:href="#mail"></use>
                                </svg>
                                company@example.com
                            </li>
                        </ul>
                        <h5 class="paym">
                            <span>Payment</span>
                        </h5>
                        <ul class="list-inline list-unstyled foot-payment">
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                    $("#testi").owlCarousel({
                    itemsCustom : [
                    [0, 1]
                    ],
                    autoPlay: 1000000,
                    animateIn: 'fadeIn',
                    animateOut: 'fadeOut',
                    loop: false,
                    navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                    navigation : false,
                    pagination:false
                    });
                    });
                    
                    // (function($){
                    // $('#testi').slick({
                    //    slidesToShow: 3,
                    //    dots: true,
                    //    centerMode: true,
                    //    centerPadding: '0px',
                    //    arrows:false,
                    //    focusOnSelect: true,
                    //    responsive: [
                    //     {
                    //       breakpoint: 1200,
                    //       settings: {
                    //         slidesToShow: 3,
                    //         infinite: true,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 992,
                    //       settings: {
                    //         slidesToShow: 3,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 767,
                    //       settings: {
                    //         slidesToShow: 1,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 600,
                    //       settings: {
                    //         slidesToShow: 1,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 576,
                    //       settings: {
                    //         slidesToShow: 1,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 500,
                    //       settings: {
                    //         slidesToShow: 1,
                    //       }
                    //     },
                    //     {
                    //       breakpoint: 361,
                    //       settings: {
                    //         slidesToShow: 1,
                    //       }
                    //     }
                    //   ]
                    //  });
                    //     }(jQuery));
                    
                    
                </script>
            </aside>
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>Information
                    <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#info"></button>
                </h5>
                <div id="info" class="collapse footer-collapse">
                    <ul class="list-unstyled">
                        <li><a href="index8816.html?route=information/information&amp;information_id=4">About Us</a></li>
                        <li><a href="index1766.html?route=information/information&amp;information_id=6">Delivery Information</a></li>
                        <li><a href="index1679.html?route=information/information&amp;information_id=3">Privacy Policy</a></li>
                        <li><a href="index99e4.html?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                        <li><a href="indexd773.html?route=product/manufacturer">Brands</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>My Account
                    <button type="button" class="btn toggle collapsed" data-toggle="collapse" data-target="#account"></button>
                </h5>
                <div id="account" class="collapse footer-collapse">
                    <ul class="list-unstyled lastb">
                        <li><a href="indexe223.html?route=account/account">My Account</a></li>
                        <li><a href="indexe223.html?route=account/order">Order History</a></li>
                        <li><a href="indexe223.html?route=account/wishlist">Wish List</a></li>
                        <li><a href="indexe223.html?route=account/newsletter">Newsletter</a></li>
                        <li><a href="indexf110.html?route=product/special">Specials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>Customer Service
                    <button type="button" class="btn  toggle collapsed" data-toggle="collapse" data-target="#service"></button>
                </h5>
                <div id="service" class="collapse footer-collapse">
                    <ul class="list-unstyled lastb">
                        <li><a href="index2724.html?route=information/contact">Contact Us</a></li>
                        <li><a href="index71ba.html?route=account/return/add">Returns</a></li>
                        <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
                        <li><a href="index4dd2.html?route=account/voucher">Gift Certificates</a></li>
                        <li><a href="index3d18.html?route=affiliate/login">Affiliate</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="copy text-center">
        <div class="container">
            <div class="row">
            Powered By <a href="#">OpenCart</a> readymart &copy; 2021
            </div>
        </div>
    </div>
</footer>
<a href="#" id="scroll" title="Scroll to Top" style="display: none;">
<i class="fa fa-angle-double-up"></i>
</a>