{% extends 'shop/base.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}

 <div class="breadbg">
   <div class="container">
      <div class="row">
         <ul class="breadcrumb">
            <li><a href="/home/"><i class="fa fa-home"></i></a></li>
            {% comment %} <li><a href="indexe223.html?route=account/account">Account</a></li> {% endcomment %}
            <li><a href="">Forgotten Password</a></li>
         </ul>
      </div>
   </div>
</div>

<div id="account-forgotten" class="container acpage">
   <div class="row">
      <div id="content" class="col-sm-8 col-md-9 col-xs-12 colright">
         <div class="infobg">
            <div class="borbutt">
               <h1 class="text-left">Forgot Your Password?</h1>
            </div>
            <p>Enter the e-mail address associated with your account. Click submit to have a password reset link e-mailed to you.</p>
            <form  method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
               <fieldset>
                  <legend>Your E-Mail Address</legend>
                  <div class="form-group required">
                     <label class="col-sm-3 col-xs-12 control-label" for="input-email">E-Mail Address</label>
                     <div class="col-sm-9 col-xs-12">
                        <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" required />
                         {% if error %}
                           <h2 class="text-danger mt-2" style="color:red;">{{error}}</h2>
                        {% endif %}
                     </div>
                  </div>
                 
               </fieldset>
               <div class="buttons clearfix">
                  <div class="pull-left"><a href="/login" class="btn btn-primary">Back</a></div>
                  <div class="pull-right">
                     <input type="submit" value="Continue" class="btn btn-primary" />
                  </div>
               </div>
            </form>
         </div>
      </div>
      <aside id="column-right" class="col-sm-4 col-md-3 col-xs-12 hidden-xs">
         <div class="list-group accolumn">
            <h3>
               <svg class="" width="20px" height="20px">
                  <use xlink:href="#acluser"></use>
               </svg>
               ACCOUNT SETTINGS
            </h3>
            <a href="/login/" class="list-group-item">Login</a>
            <a href="/register/" class="list-group-item">Register</a>
            <a href="/forget_password/" class="list-group-item">Forgotten Password</a>
            <a href="/account/" class="list-group-item">My Account</a>
         </div>
      </aside>
   </div>
</div>

{% endblock body %}