<header>
   <div class="topbsp hidden-sm hidden-xs">
      <div class="container">
         <div class="row">
            <div class="col-sm-6">
               <p>Get 30% Off On Selected Items</p>
            </div>
            <div class="col-sm-6 text-right">
               <li class="curr wishcom hidden-sm hidden-xs"><a href="indexe223.html?route=account/wishlist" class="dropdown-toggle" id="wishlist-total" title="Wishlist (0)"><span class="logte1 hidden-xs hidden-sm">Wishlist (0)</span></a></li>
               <li class="curr hidden-sm hidden-xs">
                  <form action="https://opencart.dostguru.com/MS13/readymart_03/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                     <div class="btn-group">
                        <button class="btn-link dropdown-toggle test" data-toggle="dropdown">
                        <span>Currency</span>&nbsp;<i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right langcdrop">
                           <li>
                              <button class="currency-select btn btn-link" type="button" name="EUR">€ Euro</button>
                           </li>
                           <li>
                              <button class="currency-select btn btn-link" type="button" name="GBP">£ Pound Sterling</button>
                           </li>
                           <li>
                              <button class="currency-select btn btn-link" type="button" name="USD">$ US Dollar</button>
                           </li>
                        </ul>
                     </div>
                     <input type="hidden" name="code" value="" />
                     <input type="hidden" name="redirect" value="index9328.html?route=common/home" />
                  </form>
               </li>
               <li class="langg hidden-sm hidden-xs">
                  <form action="https://opencart.dostguru.com/MS13/readymart_03/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="form-language">
                     <div class="btn-group">
                        <button class="btn-link dropdown-toggle test" data-toggle="dropdown">
                        <span>Language</span>&nbsp;<i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right langcdrop">
                           <li>
                              <button class="btn btn-link language-select" type="button" name="en-gb"><img src="/static/catalog/language/en-gb/en-gb.png" alt="English" title="English" /> English</button>
                           </li>
                           <li>
                              <button class="btn btn-link language-select" type="button" name="ar"><img src="/static/catalog/language/ar/ar.png" alt="Arabic" title="Arabic" /> Arabic</button>
                           </li>
                        </ul>
                     </div>
                     <input type="hidden" name="code" value="" />
                     <input type="hidden" name="redirect" value="index9328.html?route=common/home" />
                  </form>
               </li>
            </div>
         </div>
      </div>
   </div>
   <div class="hsticky">
      <div class="container">
         <div class="row hbottom">
            <div class="col-xs-2 hidden-sm hidden-md hidden-lg hidden-xl appmenu"></div>
            <div id="logo" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
               <a href="index9328.html?route=common/home"><img src="/static/image/catalog/logo.png" title="readymart" alt="readymart" class="img-responsive" /></a>        
            </div>
            <div class="col-lg-8 col-md-9 col-sm-8 appesearch">
               <li id="search" class="desktop-search d-inline-block">
                  <div id="search" class="wbSearch">
                     <div id="search_block_top">
                        <select id="madebyhand-search-category">
                           <option value="0">Categories</option>
                           <option value="20">Desktops</option>
                           <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;PC</option>
                           <option value="43">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 11</option>
                           <option value="47">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 15</option>
                           <option value="27">&nbsp;&nbsp;&nbsp;&nbsp;Mac</option>
                           <option value="44">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 12</option>
                           <option value="48">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 16</option>
                           <option value="31">Scanners</option>
                           <option value="34">MP3 Players</option>
                           <option value="38">&nbsp;&nbsp;&nbsp;&nbsp;Mice</option>
                           <option value="56">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 24</option>
                           <option value="42">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 9</option>
                           <option value="41">&nbsp;&nbsp;&nbsp;&nbsp;Notebooks</option>
                           <option value="51">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 19</option>
                           <option value="39">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 6</option>
                           <option value="18">Laptops</option>
                           <option value="46">&nbsp;&nbsp;&nbsp;&nbsp;Macs</option>
                           <option value="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 18</option>
                           <option value="52">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 20</option>
                           <option value="45">&nbsp;&nbsp;&nbsp;&nbsp;Windows</option>
                           <option value="49">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 17</option>
                           <option value="54">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 22</option>
                           <option value="57">Tablets</option>
                           <option value="17">Software</option>
                           <option value="24">Phones &amp; PDAs</option>
                           <option value="33">Cameras</option>
                           <option value="60">fashion</option>
                           <option value="29">Trackballs</option>
                           <option value="32">Web Cameras</option>
                           <option value="59">fruits</option>
                           <option value="25">Components</option>
                           <option value="28">Monitors</option>
                           <option value="30">Printers</option>
                        </select>
                        <div class="input-group input_search">
                           <input type="text" name="search" value="" placeholder="Search" class="search_query form-control input-lg madebyhand-search" />
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-primary btn-lg">
                                 <!-- <i class="fa fa-search hidden-lg hidden-md hidden-sm"></i> -->
                                 <span class="hidden-xs">Search</span>
                                 <svg class="hidden-lg hidden-md hidden-sm">
                                    <use xlink:href="#hsearch"></use>
                                 </svg>
                              </button>
                              <!-- <a href="javascript:void(0)" class="closebtn close-nav" onclick="closeSearch()"><i class="fa fa-close"></i></a> -->
                           </div>
                           <!-- madebyhand Search Start  -->
                           <div class="madebyhand-search text-left">
                              <div class="madebyhand-search-loader" style="display: none;">
                                 <div class="loaders"></div>
                              </div>
                              <!-- Add Loader -->
                              <div class="madebyhand-search-result">
                                 <!-- search results -->
                              </div>
                           </div>
                           <!-- madebyhand Search End  -->
                        </div>
                     </div>
                  </div>
               </li>
            </div>
            <div id="sblock" class="col-lg-2 col-md-3 col-sm-3 col-xs-5 midheadleft text-right">
               <ul class="list-inline">
                  <li class="wishcom hidden-sm hidden-xs">
                     <a href="index6431.html?route=product/compare" class="dropdown-toggle">
                        <svg class="usr">
                           <use xlink:href="#comparee"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="dropdown inuser">
                     <a href="indexe223.html?route=account/account" title="My Account" class="dropdown-toggle tolin" data-toggle="dropdown">
                        <svg class="usr">
                           <use xlink:href="#huser"></use>
                        </svg>
                     </a>
                     <ul class="dropdown-menu dropdown-menu-right user-down haccount  hlogout ">
                        <h5 class="text-left"> Your Account </h5>
                        <h6 class="text-left"> Access account and manage orders </h6>
                        <li class="acd"><a href="index5502.html?route=account/register"><i class="fa fa-user-plus"></i> My Account</a></li>
                        <li class="acd"><a href="indexe223.html?route=account/login"><i class="fa fa-lock"></i> Login</a></li>
                        <li class="wishcom hidden-lg hidden-md"><a href="index6431.html?route=product/compare"><i class="fa fa-compress"></i> compare</a></li>
                        <li class="wishcom hidden-lg hidden-md"><a href="indexe223.html?route=account/wishlist" id="wishlist-total" title="Wishlist (0)"><i class="fa fa-heart"></i> Wishlist (0)</a></li>
                        <li class="xsla d-inline-block hidden-md hidden-lg">
                           <form action="https://opencart.dostguru.com/MS13/readymart_03/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                              <div class="btn-group">
                                 <button class="btn-link dropdown-toggle test" data-toggle="dropdown">                                       <span>Currency</span>&nbsp;<i class="fa fa-angle-down"></i></button>
                                 <ul class="dropdown-menu dropdown-menu-right langcdrop">
                                    <li>
                                       <button class="currency-select btn btn-link" type="button" name="EUR">€ Euro</button>
                                    </li>
                                    <li>
                                       <button class="currency-select btn btn-link" type="button" name="GBP">£ Pound Sterling</button>
                                    </li>
                                    <li>
                                       <button class="currency-select btn btn-link" type="button" name="USD">$ US Dollar</button>
                                    </li>
                                 </ul>
                              </div>
                              <input type="hidden" name="code" value="" />
                              <input type="hidden" name="redirect" value="index9328.html?route=common/home" />
                           </form>
                        </li>
                        <li class="xscu d-inline-block hidden-md hidden-lg">
                           <form action="https://opencart.dostguru.com/MS13/readymart_03/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="form-language">
                              <div class="btn-group">
                                 <button class="btn-link dropdown-toggle test" data-toggle="dropdown">
                                 <span>Language</span>&nbsp;<i class="fa fa-angle-down"></i></button>
                                 <ul class="dropdown-menu dropdown-menu-right langcdrop">
                                    <li>
                                       <button class="btn btn-link language-select" type="button" name="en-gb"><img src="/static/catalog/language/en-gb/en-gb.png" alt="English" title="English" /> English</button>
                                    </li>
                                    <li>
                                       <button class="btn btn-link language-select" type="button" name="ar"><img src="/static/catalog/language/ar/ar.png" alt="Arabic" title="Arabic" /> Arabic</button>
                                    </li>
                                 </ul>
                              </div>
                              <input type="hidden" name="code" value="" />
                              <input type="hidden" name="redirect" value="index9328.html?route=common/home" />
                           </form>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <div id="cart" class="btn-group btn-block">
                        <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                           <div class="ussvg">
                              <svg>
                                 <use xlink:href="#hcart"></use>
                              </svg>
                           </div>
                           <span id="cart-total" class="hdis text-left">
                              <p class="carth">0</p>
                              <div>My Cart</div>
                           </span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                           <li>
                              <p class="text-center">Your shopping cart is empty!</p>
                           </li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="homemenu">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 head-menu text-left">
               <div class="menurel">
                  <nav id="menu" class="navbar">
                     <div class="navbar-header">
                        <button type="button" class="btn btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                     </div>
                     <div id="pt_vegamenu" class="title-menu wr-left-menu hidden-xs">
                        <div id="wr-menu-icon">
                           <div class="wr-menu collapsed" data-toggle="collapse" data-target="#under-menu" aria-expanded="false">
                              <button class="btn-navbar navbar-toggle" type="button" data-toggle="collapse">
                                 <div class="ico-menu">
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                 </div>
                              </button>
                              <span class="cate">All Categories</span>
                              <i class="fa fa-angle-down"></i>
                           </div>
                        </div>
                     </div>
                     <div id="mySidenav" class="sidenav">
                        <div id="under-menu" class="collapse" aria-expanded="false" style="height: 0px;">
                           <div class="close-nav hidden-sm hidden-md hidden-lg hidden-xl">
                              <span class="categories">Category</span>
                              <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fa fa-close"></i></a>
                           </div>
                           {% comment %} <div class="collapse navbar-collapse navbar-ex1-collapse">
                              <ul class="nav navbar-nav site-nav">
                                 <li class="dropdown moremenu">
                                    <a href="index98dc.html?route=product/category&amp;path=20" class="dropdown-toggle header-menu" data-toggle="">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/14.jpg" alt="Desktops">
                                       </div>
                                       Desktops
                                       <i class="fa fa-angle-down pull-right enangle"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                       <div class="dropdown-inner">
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="indexd9fe.html?route=product/category&amp;path=20_26" class="submenu-title"> PC (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="index8b5f.html?route=product/category&amp;path=26_43"> test 11 (0) </a> </li>
                                                   <li> <a href="indexabcf.html?route=product/category&amp;path=26_47"> test 15 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="indexf345.html?route=product/category&amp;path=20_27" class="submenu-title"> Mac (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="indexa508.html?route=product/category&amp;path=27_44"> test 12 (0) </a> </li>
                                                   <li> <a href="index46c1.html?route=product/category&amp;path=27_48"> test 16 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <a href="index98dc.html?route=product/category&amp;path=20" class="see-all visible-xs">Show All Desktops</a> 
                                       </div>
                                    </div>
                                 </li>
                                 <li class="moremenu">
                                    <a href="index8e1e.html?route=product/category&amp;path=31" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/12.jpg" alt="Scanners">
                                       </div>
                                       Scanners
                                    </a>
                                 </li>
                                 <li class="dropdown moremenu">
                                    <a href="index8122.html?route=product/category&amp;path=34" class="dropdown-toggle header-menu" data-toggle="">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/10.jpg" alt="MP3 Players">
                                       </div>
                                       MP3 Players
                                       <i class="fa fa-angle-down pull-right enangle"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                       <div class="dropdown-inner">
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="indexd86f.html?route=product/category&amp;path=34_38" class="submenu-title"> Mice (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="index7d70.html?route=product/category&amp;path=38_56"> test 24 (0) </a> </li>
                                                   <li> <a href="indexf882.html?route=product/category&amp;path=38_42"> test 9 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="index7fe6.html?route=product/category&amp;path=34_41" class="submenu-title"> Notebooks (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="index44ec.html?route=product/category&amp;path=41_51"> test 19 (0) </a> </li>
                                                   <li> <a href="indexc0a0.html?route=product/category&amp;path=41_39"> test 6 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <a href="index8122.html?route=product/category&amp;path=34" class="see-all visible-xs">Show All MP3 Players</a> 
                                       </div>
                                    </div>
                                 </li>
                                 <li class="dropdown moremenu">
                                    <a href="index7fa3.html?route=product/category&amp;path=18" class="dropdown-toggle header-menu" data-toggle="">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/15.jpg" alt="Laptops">
                                       </div>
                                       Laptops
                                       <i class="fa fa-angle-down pull-right enangle"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                       <div class="dropdown-inner">
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="index9f41.html?route=product/category&amp;path=18_46" class="submenu-title"> Macs (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="index7c70.html?route=product/category&amp;path=46_50"> test 18 (0) </a> </li>
                                                   <li> <a href="indexc34f.html?route=product/category&amp;path=46_52"> test 20 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <ul class="list-unstyled">
                                             <!--3rd level-->
                                             <li class="dropdown-submenu">
                                                <a href="index8470.html?route=product/category&amp;path=18_45" class="submenu-title"> Windows (0) </a>
                                                <ul class="list-unstyled grand-child">
                                                   <li> <a href="index3528.html?route=product/category&amp;path=45_49"> test 17 (0) </a> </li>
                                                   <li> <a href="index605f.html?route=product/category&amp;path=45_54"> test 22 (0) </a> </li>
                                                </ul>
                                             </li>
                                             <!--3rd level over-->
                                          </ul>
                                          <a href="index7fa3.html?route=product/category&amp;path=18" class="see-all visible-xs">Show All Laptops</a> 
                                       </div>
                                    </div>
                                 </li>
                                 <li class="moremenu">
                                    <a href="index70a9.html?route=product/category&amp;path=57" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/1.jpg" alt="Tablets">
                                       </div>
                                       Tablets
                                    </a>
                                 </li>
                                 <li class="moremenu">
                                    <a href="indexb152.html?route=product/category&amp;path=17" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/2.jpg" alt="Software">
                                       </div>
                                       Software
                                    </a>
                                 </li>
                                 <li class="moremenu">
                                    <a href="indexc957.html?route=product/category&amp;path=24" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/5.jpg" alt="Phones &amp; PDAs">
                                       </div>
                                       Phones &amp; PDAs
                                    </a>
                                 </li>
                                 <li class="moremenu">
                                    <a href="index68ea.html?route=product/category&amp;path=33" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/13.jpg" alt="Cameras">
                                       </div>
                                       Cameras
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index6067.html?route=product/category&amp;path=60" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/7.jpg" alt="fashion">
                                       </div>
                                       fashion
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index8cc5.html?route=product/category&amp;path=29" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/3.jpg" alt="Trackballs">
                                       </div>
                                       Trackballs
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index103d.html?route=product/category&amp;path=32" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/8.jpg" alt="Web Cameras">
                                       </div>
                                       Web Cameras
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index73b3.html?route=product/category&amp;path=59" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/9.jpg" alt="fruits">
                                       </div>
                                       fruits
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index1647.html?route=product/category&amp;path=25" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/6.jpg" alt="Components">
                                       </div>
                                       Components
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="index13cb.html?route=product/category&amp;path=28" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/4.jpg" alt="Monitors">
                                       </div>
                                       Monitors
                                    </a>
                                 </li>
                                 <li class="moremenu wr_hide_menu" style="display: none;">
                                    <a href="indexc262.html?route=product/category&amp;path=30" class="bmenu">
                                       <div class="thumb_img pull-left">
                                          <img src="/static/image/catalog/category/11.jpg" alt="Printers">
                                       </div>
                                       Printers
                                    </a>
                                 </li>
                                 <li class="view_more"><a class="dropdown-item"><i class="fa fa-plus"></i> More</a></li>
                              </ul>
                           </div> {% endcomment %}
                        </div>
                     </div>
                  </nav>
               </div>
               <script type="text/javascript">
                  function headermenu() {
                      if (jQuery(window).width() < 768)
                      {
                          jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","dropdown");        
                      }
                      else
                      {
                          jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle",""); 
                      }
                  }
                  $(document).ready(function(){headermenu();});
                  jQuery(window).resize(function() {headermenu();});
                  jQuery(window).scroll(function() {headermenu();});
               </script>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs manun text-left">
               <ul class="list-inline st-menu hidden-xs">
                  <li><a href="/shop/home">Home</a></li>
                  <li><a href="indexf110.html?route=product/special">special</a></li>
                  <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
                  <li><a href="index71ba.html?route=account/return/add">return</a></li>
                  <li><a href="indexd773.html?route=product/manufacturer">brand</a></li>
                  <li><a href="indexc295.html?route=information/blogger/blogs">blog</a></li>
                  <li><a href="/shop/contact">contact</a></li>
               </ul>
            </div>
            <div id="top-links" class="col-lg-2 col-md-2 col-sm-8 col-xs-12 text-right hidden-sm hidden-xs">
               <svg width="25px" height="25px">
                  <use xlink:href="#sale"></use>
               </svg>
               <a href="indexf110.html?route=product/special"> special offer! </a>
            </div>
         </div>
      </div>
   </div>
</header>