<header>
   <div class="hsticky">
      <div class="container">
         <div class="row hbottom">
            <div class="col-xs-2 hidden-sm hidden-md hidden-lg hidden-xl appmenu"></div>
            <div id="logo" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
               <a href="index9328.html?route=common/home"><img src="/static/image/catalog/logo.png" title="readymart" alt="readymart" class="img-responsive" /></a>        
            </div>
            <div class="col-lg-8 col-md-9 col-sm-8 appesearch">
               <li id="search" class="desktop-search d-inline-block">
                  <div id="search" class="wbSearch">
                     <div id="search_block_top">
                        <div class="input-group input_search" style="margin-left:20px;">
                        
                           <!--Start Search -->
                              <form action="/search">
                              {% csrf_token %}
                                 <input type="text" name="search" value="" placeholder="Search" class="search_query form-control input-lg madebyhand-search" style="width: 517px;" />
                                 <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-lg">
                                       <span class="hidden-xs">Search</span>
                                       <svg class="hidden-lg hidden-md hidden-sm">
                                          <use xlink:href="#hsearch"></use>
                                       </svg>   
                                    </button>
                                 </div>
                              </form>
                            <!-- End Search -->
                        </div>
                     </div>
                  </div>
               </li>
            </div>
            <div id="sblock" class="col-lg-2 col-md-3 col-sm-3 col-xs-5 midheadleft text-right">
                <ul class="list-inline">
                  <li class="dropdown inuser">
                     <a href="" title="My Account" class="dropdown-toggle tolin" data-toggle="dropdown">
                        <svg class="usr">
                           <use xlink:href="#huser"></use>
                        </svg>
                        <span id="cart-total" class="hdis text-left">
                              {% if request.session.customer %}
                                 <div>{{Cust_Data.first_name}}</div>
                              {% else %} 
                                    <div xlink:href>User</div>
                              {% endif %} 
                        </span>
                     </a>
                     <ul class="dropdown-menu dropdown-menu-right user-down haccount  hlogout ">
                        {% if request.session.customer %}
                           <h5 class="text-left">Welcome, {{Cust_Data.first_name}} {{Cust_Data.last_name}} </h5>
                        {% else %} 
                           <h5 class="text-left"> Your Account </h5>
                        {% endif %} 
                           <h6 class="text-left"> Access account and manage orders </h6>
                        {% comment %} <li class="acd"><a href="index5502.html?route=account/register"><i class="fa fa-user-plus"></i> My Account</a></li> {% endcomment %}
                        
                        {% if request.session.customer %}
                           {% comment %} <li class="text-left">{{Cust_Data.email}}</li>  {% endcomment %}
                           <li class="acd"><a href="/logout/"><i class="fa fa-pencil-square-o"></i> Profile</a></li>
                           <li class="acd"><a href="/logout/"><i class="fa fa-sign-out"></i> Logout</a></li>

                        {% else %} 
                           <li class="acd"><a href="/register/"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                           <li class="acd"><a href="/login/"><i class="fa fa-sign-in"></i> Sign In</a></li>  
                        {% endif %}
                        {% comment %} <li class="wishcom hidden-lg hidden-md"><a href="indexe223.html?route=account/wishlist" id="wishlist-total" title="Wishlist (0)"><i class="fa fa-heart"></i> Wishlist (0)</a></li> {% endcomment %}
                     </ul>
                  </li>
                  
                  <li>
                     <div id="cart" class="btn-group btn-block">
                        <button type="button" id="cart-popup" class="dropdown-toggle" data-container="body"  data-toggle="popover" data-placement="bottom" data-html="true" data-content="Cart is empty!">
                           <div class="ussvg">
                              <svg>
                                 <use xlink:href="#hcart"></use>
                              </svg>
                           </div>
                           <span id="cart-total" class="hdis text-left">
                              <p class="carth" id="carth"></p>
                              <div>My Cart</div>
                           </span>
                        </button>

                        {% comment %} <ul class="dropdown-menu pull-right">
                           <li>
                              <p class="text-center">Cart is empty!</p>
                           </li>
                        </ul> {% endcomment %}
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
       <div class="homemenu">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 head-menu text-left">
                           <!--Start Category -->
                              <div class="menurel">
                                 <nav id="menu" class="navbar">
                                    <div class="navbar-header">
                                       <button type="button" class="btn btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                                    </div>
                                    <div id="pt_vegamenu" class="title-menu wr-left-menu hidden-xs">
                                       <div id="wr-menu-icon">
                                          <div class="wr-menu" data-toggle="collapse" data-target="#under-menu">
                                             <button class="btn-navbar navbar-toggle" type="button" data-toggle="collapse">
                                                <div class="ico-menu">
                                                   <div class="bar"></div>
                                                   <div class="bar"></div>
                                                   <div class="bar"></div>
                                                </div>
                                             </button>
                                             <span class="cate">All Categories</span>
                                             <i class="fa fa-angle-down"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div id="mySidenav" class="sidenav">
                                       <div id="under-menu" class="collapse">
                                          <div class="close-nav hidden-sm hidden-md hidden-lg hidden-xl">
                                             <span class="categories">Category</span>
                                             <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fa fa-close"></i></a>
                                          </div>
                                          <div class="collapse navbar-collapse navbar-ex1-collapse">
                                             <ul class="nav navbar-nav site-nav">
                                                <!--Start Category View-->

                                                {% for category in view_category%} 
                                                <li class="moremenu">
                                                   {% comment %} <a href="{% url 'single-product' 1 %}" class="bmenu"> {% endcomment %}
                                                   <a href="/single_product/{{category.category_id}}" class="bmenu">
                                                      <div class="thumb_img pull-left">
                                                         <img src="/media/{{category.category_image}}" alt="{{category.category_name}}">
                                                      </div>
                                                      {{category.category_name}}
                                                   </a>
                                                </li>
                                                {% endfor %}
                                                
                                                <!--End Category View-->
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </nav>
                              </div>

                              <!-- Category script-->
                                 <script type="text/javascript">
                                    function headermenu() {
                                       if (jQuery(window).width() < 768)
                                       {
                                          jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","dropdown");        
                                       }
                                       else
                                       {
                                          jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle",""); 
                                       }
                                    }
                                    $(document).ready(function(){headermenu();});
                                    jQuery(window).resize(function() {headermenu();});
                                    jQuery(window).scroll(function() {headermenu();});
                                 </script>
                           <!--End Category -->
                        </div>

                        <!--Start Menu -->
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs manun text-left">
                              <ul class="list-inline st-menu hidden-xs">
                                 <li><a href="/home/">Home</a></li>
                                 {% comment %} <li><a href="index71ba.html?route=account/return/add">return</a></li> {% endcomment %}
                                 <li><a href="/blog/">blog</a></li>
                                 <li><a href="/contact/">contact</a></li>
                              </ul>
                           </div>

                           {% comment %} <div id="top-links" class="col-lg-2 col-md-2 col-sm-8 col-xs-12 text-right hidden-sm hidden-xs">
                              <svg width="25px" height="25px">
                                 <use xlink:href="#sale"></use>
                              </svg>
                              <a href="indexf110.html?route=product/special"> special offer! </a>
                           </div> {% endcomment %}
                        <!--Start Menu -->
                     </div>
                  </div>
               </div>
</header>


