{% extends 'shop/basic.html' %}
{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img{

max-width: 227px;
height: 242px;
}

body .carousel-indicator li{
background-color: blue;
}

body .carousel-indicators{
bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}

.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
{% endblock css %}

{% block body %}
{% load static %}
<div class="container">

  <!--Slideshow starts here -->
  {% for product, range, nSlides in allProds %}
  <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
  <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

      {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">


        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center mx-2" style="width: 18rem;">
            <img src="/media/{{i.imag}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:23}}...</p>
              <span id="divpr{{ i.product_id }}" class="divpr">
                <button id="pr{{i.product_id}}" class="btn btn-primary cart">Add To Cart</button>
              </span>
              <a href="/shop/products/{{i.product_id}}">
                <button id="qv{{i.product_id}}" class="btn btn-primary cart">Quick View</button>
              </a>

            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %}

        {% endfor %}
      </div>



    </div>
  </div>
  <!-- left and right controls for the slide -->
  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  {% endfor %}
</div>
{% endblock body %}

{% block js %}

<script>
  //find out the cart items from localstorage
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    {% comment %} document.getElementById('cart').innerHTML = Object.keys(cart).length; {% endcomment %}
    updateCart(cart);
  }
  //if add to cart button is clicked then increment the cart values
  $('.cart').click(function () {
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    } else {
      cart[idstr] = 1;
    }
    updateCart(cart);
    //console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });

  //function for updating popover 
  

  function updateCart(cart) {
    var sum =0;
    for (var item in cart) {
      sum = sum + cart[item];
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item +
        "' class='btn btn-primary minus'> - </button> <span id='val" + item + "'>" + cart[item] +
        "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        //document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    //document.getElementById('cart').innerHTML = Object.keys(cart).length;
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
  }

  //adding popover to cart
  $('#popcart').popover();
  function updatePopover(cart)
  {
    console.log("Inside popover");
    var popStr = "";
    var popStr = popStr + "<h5>cart</h5>"
    var i = 1;
    for(var item in cart){
      popStr = popStr + "<b>" + i +" - "+ "</b>";
      popStr = popStr + document.getElementById("name"+item).innerHTML.slice(0, 19) + " <b>Qty : </b>" + cart[item]  + "<br>";
      i = i+1;
    }
    // console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
  }
  updatePopover(cart);
  // document.getElementById('popcart').setAttribute('data-content', '<h6>cart</h6>');

  //if plus and minus value is clicked then change cart value

  // $('divpr').on("click", "button.minus" ,function () { 
  //   console.log("minus cliked");
  // });

//   $('.divpr').click(function(){ 
//       $(this).find('.minus').click(function(){
//         console.log("- minus clicked");
//       });
// });

//   $('.divpr').click(function(){ 
//       $(this).find('.plus').click(function(){
//         console.log("+ plus clicked");
//       });
// });

//   $(".divpr").click(function(){
//   alert("The paragraph was clicked.");
// });

$('.divpr').on("click", "button.minus", function(){
  // console.log("- clicked");
  a = this.id.slice(5);
  cart[a] = cart[a] - 1;
  cart[a] = Math.max(0, cart[a]);
  document.getElementById('val'+a).innerHTML= cart[a];
  updateCart(cart);
  console.log(a);
});
  
$('.divpr').on("click", "button.plus", function(){
  // console.log("+ clicked");
  a = this.id.slice(4);
  // console.log(a);
  cart[a] = cart[a] + 1;
  console.log(cart[a]);
  document.getElementById('val'+a).innerHTML= cart[a];
  updateCart(cart);
  console.log(a);
});
  

</script>
{% endblock js %}