{% extends 'shop/base.html' %}

{% block title %}{{view_product.0.product_name}}{% endblock title %}   

{% block body %}
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href=""><i class="fa fa-home"></i></a></li>
                <li><a href="">{{view_product.0.product_name}}</a></li>
            </ul>
        </div>
    </div>
    <div id="product-product" class="container">
        <div class="row">
            <div id="content" class="col-xs-12 marpro">
                <div class="productbg">
                <div class="pro-wid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-5 col-md-6 col-xs-12 proimg sticky">
                                <ul class="thumbnails">
                                <li><a class="thumbnail" href="" title="Chairs Leatherette Office Chair">
                                    <img data-zoom-image="/media/{{view_product.0.imag}}" src="/media/{{view_product.0.imag}}" id="zoom_03" class="img-responsive center-block" alt="{{view_product.product_name}}">
                                    </a>
                                </li>
                                {% comment %} <div class="row">
                                    <li id="gallery_01" class="owl-carousel">
                                        <a data-zoom-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/29-800x800.jpg" data-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/29-800x800.jpg"  href="image/cache/catalog/product/29-800x800.jpg" class="col-xs-12">
                                        <img src="image/cache/catalog/product/29-114x114.jpg" class="img-responsive center-block" alt="additional image">
                                        </a>
                                        <a data-zoom-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/7-800x800.jpg" data-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/7-800x800.jpg"  href="image/cache/catalog/product/7-800x800.jpg" class="col-xs-12">
                                        <img src="image/cache/catalog/product/7-114x114.jpg" class="img-responsive center-block" alt="additional image">
                                        </a>
                                        <a data-zoom-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/8-800x800.jpg" data-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/8-800x800.jpg"  href="image/cache/catalog/product/8-800x800.jpg" class="col-xs-12">
                                        <img src="image/cache/catalog/product/8-114x114.jpg" class="img-responsive center-block" alt="additional image">
                                        </a>
                                        <a data-zoom-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/31-800x800.jpg" data-image="https://opencart.dostguru.com/MS13/readymart_03/image/cache/catalog/product/31-800x800.jpg"  href="image/cache/catalog/product/31-800x800.jpg" class="col-xs-12">
                                        <img src="image/cache/catalog/product/31-114x114.jpg" class="img-responsive center-block" alt="additional image">
                                        </a>
                                    </li>
                                </div> {% endcomment %}
                                </ul>
                            </div>
                            <div class="col-lg-7 col-md-6 col-xs-12 col-sm-6 pro-content">
                                <h1>{{view_product.0.product_name}}</h1>
                                <hr class="producthr">
                                {% comment %} <ul class="list-unstyled">
                                <li><span class="text-decor">Brand:</span><a href="indexe69c.html?route=product/manufacturer/info&amp;manufacturer_id=7" class="textdeb">Hewlett-Packard</a></li>
                                <li><span class="text-decor">Product Code:</span> Product 21</li>
                                <li><span class="text-decor">Reward Points:</span> 300</li>
                                <li><span class="text-decor">Availability:</span> In Stock</li>
                                <hr class="producthr">
                                </ul> {% endcomment %}
                                <ul class="list-unstyled">
                                <li class="text-decor-bold">
                                    <h2 class="pro-price">RS. {{view_product.0.price}}</h2>
                                </li>
                               {% comment %} <li class="text-decor-bold">Price in reward points: 400</li> {% endcomment %}
                                </ul>
                                <div id="product">
                                <hr class="producthr">
                                {% comment %} <h3>Available Options</h3>
                                <div class="form-group required ">
                                    <label class="control-label text-decorop" for="input-option225">Delivery Date</label>
                                    <div class="input-group date">
                                        <input type="text" name="option[225]" value="2011-04-22" data-date-format="YYYY-MM-DD" id="input-option225" class="form-control" />
                                        <span class="input-group-btn">
                                        <button class="btn datebtn" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <hr class="producthr"> {% endcomment %}
                                <!-- Quantity option -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-2 op-box qtlabel">
                                            <label class="control-label text-decorop" for="input-quantity">Qty :</label>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 col-lg-10 op-box qty-plus-minus">
                                            <button type="button" class="form-control pull-left btn-number btnminus" disabled="disabled" data-type="minus" data-field="quantity">
                                            <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            <input id="input-quantity" type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control input-number pull-left" />
                                            <input type="hidden" name="product_id" value="47" />
                                            <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="producthr">
                                    <button type="button" id="pr{{view_product.0.product_id}}" data-loading-text="Loading..." class="btn pcrt add-to-cart btn-primary">
                                        <svg>
                                            <use xlink:href="#pcart"></use>
                                        </svg>
                                        Add to cart
                                    </button>

                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" class="btn pcrt btn-primary" onclick="wishlist.add('47');">
                                        <svg width="18px" height="17px">
                                            <use xlink:href="#heart" />
                                        </svg>
                                    </button>
                                    {% comment %} <button type="button" data-toggle="tooltip" title="Compare this Product" class="btn pcrt  btn-primary" onclick="compare.add('47');" >
                                        <svg width="18px" height="17px">
                                            <use xlink:href="#compare"/>
                                        </svg>
                                    </button> {% endcomment %}
                                    <hr class="producthr">
                                </div>
                                <!-- Quantity option end -->
                                </div>
                                {% comment %} <div class="rating">
                                    <li><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                   </li>
                                    <li class="proreview">
                                        <a id="ratecount" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>
                                    </li>
                                    <li>
                                        <a id="ratep" href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                                    </li>
                                    <hr class="producthr">
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_google_plus"></a>
                                        <a class="a2a_button_pinterest"></a>
                                        <a class="a2a_button_linkedin"></a>
                                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                    </div>
                                    <script async src="../../../static.addtoany.com/menu/page.js"></script>
                                    <!-- AddToAny END -->
                                    </div> {% endcomment %}
                    
                            </div>
                       </div>
                </div>

                <div class="product-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                        {% comment %} <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
                        <li><a href="#tab-review" data-toggle="tab">Reviews (0)</a></li> {% endcomment %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            <p>{{view_product.0.desc}}</p>
                        </div>
                        <div class="tab-pane" id="tab-specification">
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2"><strong>Memory</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>test 1</td>
                                    <td>16GB</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <td colspan="2"><strong>Processor</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>No. of Cores</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-review">
                            <form class="" id="form-review">
                            <div id="review"></div>
                            <h2 class="co-heading">Write a review</h2>
                            <div class="form-group required row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-name">Your Name</label>
                                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="input-review">Your Review</label>
                                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                    <!-- <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div> -->
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="radi">
                                    <label class="control-label" for="input-review">Rating</label>
                                    <div class="form-rating">
                                        <div class="form-rating-container pull-left">
                                        <input id="rating-5" type="radio" name="rating" value="5" />
                                        <label class="fa fa-stack pull-right" for="rating-5">
                                        <i class="fa fa-star fa-stack-1x"></i>
                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                        </label>
                                        <input id="rating-4" type="radio" name="rating" value="4" />
                                        <label class="fa fa-stack pull-right" for="rating-4">
                                        <i class="fa fa-star fa-stack-1x"></i>
                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                        </label>
                                        <input id="rating-3" type="radio" name="rating" value="3" />
                                        <label class="fa fa-stack pull-right" for="rating-3">
                                        <i class="fa fa-star fa-stack-1x"></i>
                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                        </label>
                                        <input id="rating-2" type="radio" name="rating" value="2" />
                                        <label class="fa fa-stack pull-right" for="rating-2">
                                        <i class="fa fa-star fa-stack-1x"></i>
                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                        </label>
                                        <input id="rating-1" type="radio" name="rating" value="1" />
                                        <label class="fa fa-stack pull-right" for="rating-1">
                                        <i class="fa fa-star fa-stack-1x"></i>
                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- relatedproduct -->
                <div class="relpro">
                    <div class="borbutt">
                        <h1 class="heading text-left"><span>Related Products</span></h1>
                    </div>
                    <div class="row xspspace rless">
                        <div id="related" class="owl-carousel owl-theme">
                        {% for prod in product %}
                            <div class="col-xs-12 col-sm-12 product-layout cless">
                                <div class="product-thumb transition">
                                    <div class="image">
                                        <a href="/single_product_details/{{prod.product_id}}"><img src="/media/{{prod.imag}}" alt="{{prod.product_name}}" title="{{prod.product_name}}" class="img-responsive center-block" /></a>
                                        {% comment %} <span class="sale">53%</span> {% endcomment %}
                                    </div>
                                    <div class="caption text-center">
                                        {% comment %} <div class="rating">
                                            <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                            <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                            <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                            <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                            <span class="fa fa-stack">
                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                        </div> {% endcomment %}
                                        <h4 class="protitle"><a href="/single_product_details/{{prod.product_id}}">{{prod.product_name}}</a></h4>
                                        <div class="price">
                                            <span class="price-new">{{prod.price}}</span>
                                        </div>
                                        <div class="button-group text-center">
                                            <button class="cartb add-to-cart" type="button" data-toggle="tooltip" title="Add to cart" onclick="cart.add('50');">
                                            <svg>
                                                <use xlink:href="#pcart"></use>
                                            </svg>
                                            </button>
                                            <input type="hidden" name="hid-qty-msg" value="Quantity At Least One or More">
                                            <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('50');">
                                            <svg>
                                                <use xlink:href="#heart" />
                                            </svg>
                                            </button>
                                            {% comment %} <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('50');">
                                            <svg>
                                                <use xlink:href="#compare"/>
                                            </svg>
                                            </button> {% endcomment %}
                                            <div data-toggle="tooltip" title="Quickview"  class="bquickv"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
            $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#recurring-description').html('');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
        
                if (json['success']) {
                $('#recurring-description').html(json['success']);
                }
            }
            });
        });
        //-->
    </script>
    <script type="text/javascript"><!--
        $('#button-cart').on('click', function() {
            $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-cart').button('loading');
            },
            complete: function() {
                $('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');
        
                if (json['error']) {
                if (json['error']['option']) {
                    for (i in json['error']['option']) {
                    var element = $('#input-option' + i.replace('_', '-'));
        
                    if (element.parent().hasClass('input-group')) {
                        element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                    } else {
                        element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                    }
                    }
                }
        
                if (json['error']['recurring']) {
                    $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                }
        
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
                }
        
                if (json['success']) {
                $('#content').parent().before('<div class="a-one"><div class="alert alert-success alert-dismissible alertsuc"><svg width="20px" height="20px"> <use xlink:href="#successi"></use> </svg> ' + json.success + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
                            
                            setTimeout(function() {
                                $('#cart > button').html('<div class="ussvg"><svg><use xlink:href="#hcart"></use></svg></div><span id="cart-total" class="hdis text-left">' + json['total'] + '</span>')
                            }, 100);
                            $('.a-one').delay(5000).fadeOut();
                            $('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li')
                            $("button.close").click(function() {
                                $(".a-one").remove();
                            })
        
                }
            },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
        //-->
    </script> 
    <script type="text/javascript"><!--
        $('.date').datetimepicker({
            language: 'en-gb',
            pickTime: false
        });
        
        $('.datetime').datetimepicker({
            language: 'en-gb',
            pickDate: true,
            pickTime: true
        });
        
        $('.time').datetimepicker({
            language: 'en-gb',
            pickDate: false
        });
        
        $('button[id^=\'button-upload\']').on('click', function() {
            var node = this;
        
            $('#form-upload').remove();
        
            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
        
            $('#form-upload input[name=\'file\']').trigger('click');
        
            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }
        
            timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);
        
                $.ajax({
                url: 'index.php?route=tool/upload',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(node).button('loading');
                },
                complete: function() {
                    $(node).button('reset');
                },
                success: function(json) {
                    $('.text-danger').remove();
        
                    if (json['error']) {
                    $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                    }
        
                    if (json['success']) {
                    alert(json['success']);
        
                    $(node).parent().find('input').val(json['code']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
                });
            }
            }, 500);
        });
        //-->
    </script>
    <!--for product quantity plus minus-->
    <script type="text/javascript">
        //plugin bootstrap minus and plus
        $(document).ready(function() {
        $('.btn-number').click(function(e){
        e.preventDefault();
        var fieldName = $(this).attr('data-field');
        var type = $(this).attr('data-type');
        var input = $("input[name='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
        if (type == 'minus') {
        var minValue = parseInt(input.attr('min'));
        if (!minValue) minValue = 1;
        if (currentVal > minValue) {
        input.val(currentVal - 1).change();
        }
        if (parseInt(input.val()) == minValue) {
        $(this).attr('disabled', true);
        }
        
        } else if (type == 'plus') {
        var maxValue = parseInt(input.attr('max'));
        if (!maxValue) maxValue = 999;
        if (currentVal < maxValue) {
        input.val(currentVal + 1).change();
        }
        if (parseInt(input.val()) == maxValue) {
        $(this).attr('disabled', true);
        }
        
        }
        } else {
        input.val(0);
        }
        });
        $('.input-number').focusin(function(){
        $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function() {
        
        var minValue = parseInt($(this).attr('min'));
        var maxValue = parseInt($(this).attr('max'));
        if (!minValue) minValue = 1;
        if (!maxValue) maxValue = 999;
        var valueCurrent = parseInt($(this).val());
        var name = $(this).attr('name');
        if (valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
        }
        });
        $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== - 1 ||
                // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
                }
                });
        });
    </script>
    <script type="text/javascript"><!--
        $('#review').delegate('.pagination a', 'click', function(e) {
            e.preventDefault();
        
            $('#review').fadeOut('slow');
        
            $('#review').load(this.href);
        
            $('#review').fadeIn('slow');
        });
        
        $('#review').load('index027f.html?route=product/product/review&amp;product_id=47');
        
        $('#button-review').on('click', function() {
            $.ajax({
            url: 'index.php?route=product/product/write&product_id=47',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible').remove();
        
                if (json['error']) {
                $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }
        
                if (json['success']) {
                $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        
                $('input[name=\'name\']').val('');
                $('textarea[name=\'text\']').val('');
                $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
            });
        });
        
        $(document).ready(function() {
            $('.thumbnails').magnificPopup({
            type:'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
            });
        });
        //-->
    </script>
    <!-- related -->
    <script type="text/javascript">
        (function($){
        $("#related").owlCarousel({
        itemsCustom : [
        [0, 2],
        [400, 2],
        [600, 3],
        [700, 3],
        [992, 3],
        [1200, 4],
        [1410, 5]
        ],
            // autoPlay: 1000,
            navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            navigation : true,
            pagination:false
        });
        }(jQuery));
    </script>
    <!-- related over -->
    <!-- zoom product start -->
    <!-- zoom product start -->
    <script>
        if (jQuery(window).width() >= 1200){
            //initiate the plugin and pass the id of the div containing gallery images
                $("#zoom_03").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: ''});
            //pass the images to Fancybox
                $("#zoom_03").bind("click", function (e) {
                var ez = $('#zoom_03').data('elevateZoom');
                $.fancybox(ez.getGalleryList());
                return false;
                });
        }
    </script>
    <!--ZOOM END-->
    <!--slider for product-->
    <script type="text/javascript"><!--
        $('#gallery_01').owlCarousel({
            itemsCustom : [
                [0, 2],
                [320, 3],
                [600, 5],
                [768, 3],
                [992, 3],
                [1200, 3],
                [1410, 4]
                ],
            autoPlay: 1000,
            autoPlay: true,
            navigation: false,
            navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            pagination: false
        });
        -->
    </script>
    <!--over slider for product-->
{% endblock body %}
            
         
    